extends layout 

block content 
    +navbar
    section(class="category-items-list")
        each item in category_list
            a(class="manga-list-categories-select" href=`/manga/item/${item._id}`)
                h2= item.item_name